<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Категория</title>
    <!--<link href="../css/bootstrap.min.css" rel="stylesheet"/>--><!--для локальной подгрузки стилей-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex">
        <!-- Боковое меню -->
        <div class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
            <h4 class="mb-4">Меню</h4>
             <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-white bg-danger" href={% url 'testapp:home' %}>Главная</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-white" href="#">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href={% url 'testapp:contacts' %}>Контакты</a>
                </li>
            </ul>

            <div class="mt-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователь
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Основной контент -->
        <div class="container-fluid p-4">
            <h1 class="my-4 mt-0 d-flex justify-content-center">Контакты</h1>
            <div class="row d-flex p-4 ms-2 justify-content-center" style="margin-left: 200px">
                <!-- Форма -->
                <div class="col-md-6 bg-light p-3 rounded">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="name" name="name" required />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Почта</label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="email" class="form-control" id="email" name="email" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Сообщение</label>
                            <textarea class="form-control" id="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger">Отправить</button>
                    </form>
                </div>

                <!-- Информация о контактах -->
                <div class="col-md-6 p-3">
                    <h4>Наши контакты</h4>
                    Контакты — ООО «Рога и копыта»<br>
                    Свяжитесь с нами, чтобы узнать больше о наших услугах или задать вопросы.<br>
                    Адрес: г. Москва, ул. Вымышленная, д. 123<br>
                    Телефон: +7 (495) 123-45-67<br>
                    Email: info@rogaikopyta.ru<br>
                    Время работы: Пн–Пт, с 9:00 до 18:00<br>
                    <br>
                    <p>Мы всегда на связи и рады помочь!</p>
                    <p>
                        ⚠️Все товары являются вымышленными⚠️
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-end justify-content-between">
    <!--<script src="../js/bootstrap.bundle.min.js"></script>--><!--для локальной подгрузки стилей-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </div>
</body>
</html>